{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Lab Form{% endblock %} 

{% block content %}
<body class="w3-animate-opacity top-padding">
	<form id="lab-form" method="POST" enctype="multipart/form-data" autocomplete="off">
		{% csrf_token %}
		<div class="mid-padding left d-flex flex-column">
			<div class="mt-3 header2 d-flex row-to-col flex-row flex-wrap">
				<p>Lab/Research Group Name:</p>
				{{ form.name | add_class:"w-100 lab_name" }}
				{{ form.name.errors }}
			</div>
			<hr class="blue1" style="width: 100%">
			<p class="mb-0 header5 no-space">The Yale Research Database is currently in beta development; not all site features may be accessible, thank you for your patience! All edits will be saved automatically.</p>
			<div class="d-flex justify-content-between row-to-col flex-wrap">
				<div class="body3 m-3" style="margin-bottom: 0px !important;">
					<div class="mt-3">
						<p>PI:
							{{ form.pi_name | add_class:"lab_pi" }}
							{{ form.pi_name.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Principal Investigator's (PI) first and last name" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p>PI NetID:
							{{ form.pi_id | add_class:"lab_netid" }}
							{{ form.pi_id.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Principal Investigator's (PI) NetID" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p>Department:
							{{ form.department | add_class:"resizeselect" }}
							{{ form.department.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Which department is the lab in?" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p>Email:
							{{ form.email | add_class:"lab_email" }}
							{{ form.email.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Which email can interested students contact?" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p>Website:
							{{ form.website | add_class:"lab_website" }}
							{{ form.website.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="What is the lab's website? (not required)" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p>Mentoring:
							{{ form.mentors | add_class:"lab_mentors" }}
							{{ form.mentors.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Are graduate students/postdocs available to mentor undergraduates in their research?" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p>Funded:
							{{ form.funded | add_class:"lab_funded" }}
							{{ form.funded.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Is funding/payment available for undergraduate students?" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p> Accepting Undergraduates:
							{{ form.accept_undergrads | add_class:"lab_undergrads" }}
							{{ form.accept_undergrads.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Is the lab accepting undergraduate students?" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p>Accepting Graduates:
							{{ form.accept_grads | add_class:"lab_grads" }}
							{{ form.accept_grads.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Is the lab accepting graduate students?" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p> Remote:
							{{ form.work_remote | add_class:"lab_remote" }}
							{{ form.work_remote.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Does the lab have research projects that students can work on remotely?" aria-hidden="true"></i>
						</p>
					</div>
					<div class="mt-3">
						<p> On-Campus:
							{{ form.work_in_person | add_class:"lab_on_campus" }}
							{{ form.work_in_person.errors }}
							<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Does the lab have on-campus that students can work on in person?" aria-hidden="true"></i>
						</p>
					</div>
				</div>
				<div></div>
				<div class="desc-pub body m-3 flex-grow-1" style="margin-bottom: 0px !important;">
					<p class="form-title">Lab/Research Group Description and Project Summaries:
						<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="What is the main function of the lab/research group, what will students be doing, etc?" aria-hidden="true"></i>
					</p>
					<div>
						{{ form.project_desc | add_class:"word_count lab_desc" }}
						{{ form.project_desc.errors }}
					</div>
					<div class="sbody3" style="display: flex; justify-content: space-between;">
						{% if object %}
							<span class="align-left">Last Updated: {{ lab.modified_date|timesince }} ago</span>
						{% else %}
							<span class="align-left"></span>
						{% endif %}
						<span class="align-right"><span id="display_count">0</span>/1000 words</span>
					</div>
					<div class="align-right sbody3"></div>
					<p class="mt-3 form-title">Publications:</p>
					<div class="publications" style="display: flex;">
						<input type="text" placeholder="Either citation or DOI number" class="w-100 pub-input">
						<div class="input-buttons" style="display: flex; justify-content: flex-end; margin-left: 15px !important;">
						  <i class="pub add-pub fa fa-plus fa-1x"></i></a>
						</div>
					</div>
					<ul class="pub-list">
					</ul>
				</div>
			</div>
			<hr class="blue1" style="width:100%">
			<p class="mb-0 header5 no-space">To allow other individuals to edit this page, please enter their NetID:</p>
			<div class="p-0 m-3 float-container">
				<div class="mb-3">
					<input class="w-100" id="text-netid" placeholder="NetID" value="" data-role="tagsinput" name="netID" type="text" autocomplete="off">
				</div>
				<div class="float-child4">
					<button id="add-netid" type="button" id="add" class="btn btn-outline-secondary btn-sm btn-block rounded-0 buttonblue">Add</button>
				</div>
			</div>
			<input id="form-type" type="submit" value="Submit" style="margin-bottom: 2rem; margin-top: 2rem; width: 100%; height: 50px;">
		</div>
	</form>

	<script>
		$(document).ready(function() {
			var saveInfo = "{{ object }}" ? false : true;
			var netid_error = "{{ pi_netid_error }}" ? true : false;

			if (netid_error && $(".lab_netid").val() == "{{ prev_pi_netid }}") {
				$(".lab_netid")[0].setCustomValidity("{{ pi_netid_error|safe }}");
				$(".lab_netid")[0].reportValidity();
			}

			$(".lab_netid").on('keyup', function() {
				if (netid_error && $(".lab_netid").val() != "{{ prev_pi_netid }}") {
					$(".lab_netid")[0].setCustomValidity("");
					$(".lab_netid")[0].reportValidity();
				} else if (netid_error && $(".lab_netid").val() == "{{ prev_pi_netid }}") {
					$(".lab_netid")[0].setCustomValidity("{{ pi_netid_error|safe }}");
					$(".lab_netid")[0].reportValidity();
				}
			});

			if (!saveInfo) {
				$("#form-type").val('Update');
			}

			if (!saveInfo && localStorage.getItem('lab_name')) {
				$(".lab_name").val(localStorage.getItem('lab_name'));
			}

			if (!saveInfo && localStorage.getItem('lab_pi')) {
				$(".lab_pi").val(localStorage.getItem('lab_pi'));
			}

			if (!saveInfo && localStorage.getItem('lab_netid')) {
				$(".lab_netid").val(localStorage.getItem('lab_netid'));
			}

			if (!saveInfo && localStorage.getItem('lab_email')) {
				$(".lab_email").val(localStorage.getItem('lab_email'));
			}

			if (!saveInfo && localStorage.getItem('lab_website')) {
				$(".lab_website").val(localStorage.getItem('lab_website'));
			}

			if (!saveInfo && localStorage.getItem('lab_desc')) {
				$(".lab_desc").val(localStorage.getItem('lab_desc'));
			}

			loadCheckbox('lab_mentors', saveInfo);
			loadCheckbox('lab_funded', saveInfo);
			loadCheckbox('lab_undergrads', saveInfo);
			loadCheckbox('lab_grads', saveInfo);
			loadCheckbox('lab_remote', saveInfo);
			loadCheckbox('lab_on_campus', saveInfo);
			
			if(($(".word_count").val().match(/\S+/g)) != null) {
				$('#display_count').text($(".word_count").val().match(/\S+/g).length);
			}

			$(".word_count").on('keyup', function() {
				var words = 0;
				if((this.value.match(/\S+/g)) != null) {
					words = this.value.match(/\S+/g).length;
				}
				if(words > 1000) {
					// Split the string on first 1000 words and rejoin on spaces
					var trimmed = $(this).val().split(/\s+/, 1000).join(" ");
					// Add a space at the end to make sure more typing creates new words
					$(this).val(trimmed + " ");
				} else {
					$('#display_count').text(words);
				}
			});

			$('[data-toggle="tooltip"]').tooltip();

			window.addEventListener("unload", function(event) {
				if (typeof localStorage !== 'undefined' && saveInfo) {
					try {
						console.log("saving to localStorage")
						localStorage.setItem('lab_name', $('.lab_name').val());
						localStorage.setItem('lab_pi', $('.lab_pi').val());
						localStorage.setItem('lab_netid', $('.lab_netid').val());
						localStorage.setItem('lab_email', $('.lab_email').val());
						localStorage.setItem('lab_website', $('.lab_website').val());
						localStorage.setItem('lab_desc', $('.lab_desc').val());
						saveCheckbox('lab_mentors', saveInfo);
						saveCheckbox('lab_funded', saveInfo);
						saveCheckbox('lab_undergrads', saveInfo);
						saveCheckbox('lab_grads', saveInfo);
						saveCheckbox('lab_remote', saveInfo);
						saveCheckbox('lab_on_campus', saveInfo);
					} catch(e) {
						console.log("localStorage is disabled", e)
					}
				} else if (!saveInfo) {
					localStorage.clear();
				} else {
					console.log("localStorage not available")
				}
			});

			$("#lab-form").on("submit", function() {
				localStorage.clear();
				saveInfo = false;
				return true;
			});

			$("#add-netid").on("click", function() {
				$('#text-netid').tagsinput('add', $("#text-netid").val());
			});

			var pubCounter = 0;

			var pubLists = "{{ object.publications|safe }}";

			if(pubLists) {
				pubLists = pubLists.replace(/'/g, '"');
				pubLists = JSON.parse(pubLists);
			}

			for (index = 0; index < pubLists.length; index++) { 
				var newPubItem = document.createElement('li');
				$('.pub-list').append(newPubItem);
				newPubItem.classList.add('pub-task');
				newPubItem.innerHTML = '<input class="w-100 task-title" type="text" name="pubList_' + pubCounter + '" readonly>' +
				'<a class="button" style="margin-left: 15px !important;"><i class="pub remove fas fa-trash fa-1x"></i></a>';
				newPubItem.querySelector('.task-title').setAttribute('value', pubLists[index]);
				pubCounter += 1;
			}

			$(".add-pub").on("click", function() {
				var newPubItem = document.createElement('li');
				if ($(".pub-input").val() != "") {
					$('.pub-list').append(newPubItem);
					newPubItem.classList.add('pub-task');
					newPubItem.innerHTML = '<input class="w-100 task-title" type="text" name="pubList_' + pubCounter + '" readonly>' +
					'<a class="button" style="margin-left: 15px !important;"><i class="pub remove fas fa-trash fa-1x"></i></a>';
					newPubItem.querySelector('.task-title').setAttribute('value', $(".pub-input").val());
					$(".pub-input").val("");
					pubCounter += 1;
				}
			});

			var pubList = document.querySelector(".pub-list");

			pubList.addEventListener("click", function(event) {
				if (event.target.matches('.remove')) {
					event.target.closest('li').remove()
				}
			});

			$('.bootstrap-tagsinput').on('keyup keypress', function(e) {
				var keyCode = e.keyCode || e.which;
				if (keyCode === 13) {
					e.preventDefault();
					$('#text-netid').tagsinput('add', $("#text-netid").val());
					return false;
				}
			});

			$('#text-netid').on('keyup keypress', function(e) {
				var keyCode = e.keyCode || e.which;
				if (keyCode === 13) {
					e.preventDefault();
					$('#text-netid').tagsinput('add', $("#text-netid").val());
					return false;
				}
			});
		});

		function loadCheckbox(name_class, saveInfo) {
			var value = localStorage.getItem(name_class);
			if (saveInfo) {
				if (value == "yes") {
					$("." + name_class).prop('checked', true);
				} else {
					$("." + name_class).prop('checked', false);
				}
			}
		}

		function saveCheckbox(name_class, saveInfo) {
			if (saveInfo) {
				if ($("." + name_class).is(":checked")) {
					localStorage.setItem(name_class, "yes");
				} else {
					localStorage.setItem(name_class, "no");            
				}
			}
		}

		var netIDs = "{{ object.edit|safe }}";

		if(netIDs) {
			netIDs = netIDs.replace(/'/g, '"');
			netIDs = JSON.parse(netIDs);
		}

		$('#text-netid').tagsinput('add', '');

		for (index = 0; index < netIDs.length; index++) { 
			$('#text-netid').tagsinput('add', netIDs[index]);
		}

		$(".lab_name").attr("placeholder", "E.g. Chang Lab");

		(function($, window) {
			var arrowWidth = 30;

			$.fn.resizeselect = function(settings) {  
				return this.each(function() { 

				$(this).change(function(){
					var $this = $(this);

					// create test element
					var text = $this.find("option:selected").text();
					var $test = $("<span>").html(text).css({
						"font-size": $this.css("font-size"), // ensures same size text
						"visibility": "hidden"               // prevents FOUC
					});


					// add to parent, get width, and get out
					$test.appendTo($this.parent());
					var width = $test.width();
					$test.remove();

					// set select width
					$this.width(width + arrowWidth);

					// run on start
				}).change();

				});
			};

			$("select.resizeselect").resizeselect();
		})(jQuery, window);
	</script>
</body>
{% endblock %}