
{% extends "base.html" %}

{% block title %}Lab View{% endblock %}

{% block content %}
<body class="w3-animate-opacity top-padding">
    {% csrf_token %}
    <div class="mid-padding left d-flex flex-column">
        <div class="header2 d-flex row-to-col flex-row flex-wrap mt-3">
            <p style="margin-bottom: 0 !important">{{ lab.name }}</p>
        </div>

        <hr class="blue1" style = "width: 100%">


        <div class="d-flex justify-content-between row-to-col flex-wrap">
            <div class="body3 m-3" style="margin-top: 0 !important; margin-bottom: 0 !important;">
                <div class = "mt-3">
                    <p>Principal Investigator: {{ lab.pi_name }}</p>
                </div>
                <div class = "mt-3">
                    <p>Department: {{ lab.department }}</p>
                </div>
                <div class = "mt-3">
                    <p>Contact: {{ lab.email }}</p>
                </div>
                {% if lab.accept_undergrads %}
                <div class = "mt-3">
                    </p>Website: {{ lab.website }}</p>
                </div>
                {% endif %}
            </div>

            <div class="body m-3 flex-grow-1" style="margin-bottom: 0 !important; margin-top: 0 !important;">
                <div class="body3 mb-3">
                    Lab Description: {{ lab.project_desc }}
                </div>
                <div class="body3 mb-3">
                    Last Updated: {{ lab.modified_date|timesince }} ago
                </div>
                {% if lab.publications %}
                <div class="body3 mb-3">
                    Recent Publications:
                    {% for publication in lab.publications %}
                        {{ publication }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        
        <div class="body m-3 flex-grow-1 d-flex flex-column d-sm-flex flex-sm-row" style="margin-bottom: 0 !important; margin-top: 0 !important;">
            {% if lab.mentors %}
                <h4><span style="margin-right:1rem;" class="badge badge-success">Mentors</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Mentors</span></h4>
            {% endif %}

            {% if lab.funded %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">Funded</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Funded</span></h4>
            {% endif %}
        
            {% if lab.accept_undergrads %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">Undergraduates</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Undergraduates</span></h4>
            {% endif %}

            {% if lab.accept_grads %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">Graduates</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Graduates</span></h4>
            {% endif %}

            {% if lab.work_remote %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">Remote</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Remote</span></h4>
            {% endif %}

            {% if lab.work_in_person %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">On-Campus</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">On-Campus</span></h4>
            {% endif %}
        </div>

        <hr class="blue1" style = "width: 100%">
        <p class="mb-3 header5 no-space">This view is currently under development. Soon you will have the ability to upload photos, create application forms, and so much more. If you have any suggestions, please contact us at yura@yale.edu!</p>
    </div>
    </body>
{% endblock %}
