
{% extends "base.html" %}

{% block title %}Lab View{% endblock %}

{% block content %}
<body class="w3-animate-opacity top-padding">
    {% csrf_token %}
    <div class="mid-padding left d-flex flex-column">
        <div class="header2 d-flex row-to-col flex-row flex-wrap mt-3">
            <p style="margin-bottom: 0 !important">
                <button class="btn btn-primary hBack" type="button" style="margin-right: 1rem; background-color:#0f4d92; border-color:#0f4d92; height:40px; width:35px;">
                    <i class="fas fa-chevron-left"></i>
                </button>{{ lab.name }}{% if request.user in lab.likes.all %}<i name='{{ lab.slug }}' style="margin-left: 1rem;" class="fas fa-heart fa-sm like"></i></span>{% else %}<i name='{{ lab.slug }}' style="margin-left: 1rem;" class="far fa-heart fa-sm like"></i></span>{% endif %}
            </p>            
        </div>

        <hr class="blue1" style = "width: 100%">


        <div class="d-flex justify-content-between row-to-col flex-wrap">
            <div class="body3 m-3" style="margin-top: 0 !important; margin-bottom: 0 !important;">
                <div>
                    <h5 class="h5-bold" style="margin-top: 0 !important;">Principal Investigator:</h5> <p>{{ lab.pi_name }}</p>
                </div>
                <div class = "mt-3">
                    <h5 class="h5-bold">Department:</h5> <p>{{ lab.department }}</p>
                </div>
                <div class = "mt-3">
                    <h5 class="h5-bold">Contact:</h5> <p>{{ lab.email }}</p>
                </div>
                {% if lab.website %}
                <div class = "mt-3">
                    <h5 class="h5-bold">Website:</h5> <p><a class="lab-website" href="{{lab.website}}" style="color:#0645AD ">{{ lab.website }}</a></p>
                </div>
                {% endif %}
            </div>

            <div class="body m-3 flex-grow-1" style="margin-top: 0 !important; margin-bottom: 0 !important; overflow: hidden !important;">
                <div class="body3 mb-3">
                    <h5  class="h5-bold" style="margin-top: 0 !important;">Lab Description:</h5> {{ lab.project_desc | safe }}
                </div>
                <div class="body3 mb-3">
                    <h5 class="h5-bold">Last Updated:</h5> <p>{{ lab.modified_date | timesince }} ago</p>
                </div>
                {% if lab.publications %}
                <div class="body3 mb-3">
                    <h5 class="h5-bold">Recent Publications:</h5>
                    <ol>
                        {% for publication in lab.publications %}
                            <li>{{ publication }}</li>
                        {% endfor %}
                    </ol>
                </div>
                {% endif %}
            </div>
        </div>
        
        <div class="body m-3 flex-grow-1 d-flex flex-column d-sm-flex flex-sm-row" style="margin-bottom: 0 !important; margin-top: 0 !important;">
            {% if lab.mentors %}
                <h4><span style="margin-right:1rem;" class="badge badge-success">Mentors</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Mentors</span></h4>
            {% endif %}

            {% if lab.funded %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">Funded</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Funded</span></h4>
            {% endif %}
        
            {% if lab.accept_undergrads %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">Undergraduates</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Undergraduates</span></h4>
            {% endif %}

            {% if lab.accept_grads %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">Graduates</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Graduates</span></h4>
            {% endif %}

            {% if lab.work_remote %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">Remote</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">Remote</span></h4>
            {% endif %}

            {% if lab.work_in_person %}
            <h4><span style="margin-right:1rem;" class="badge badge-success">On-Campus</span></h4>
            {% else %}
                <h4><span style="margin-right:1rem;" class="badge badge-danger">On-Campus</span></h4>
            {% endif %}
        </div>

        <hr class="blue1" style = "width: 100%">
        {% if request.user.is_staff %}
            <p class="mb-3 header5 no-space">This view is currently under development. Soon you will have the ability to upload photos, create application forms, and so much more.</p>
        {% else %}
            <p class="mb-3 header5 no-space">This view is currently under development. Soon you will have the ability to view photos, submit application forms, and so much more.</p>
        {% endif %}
    </div>

    <script>
        var url = "{{ lab.website }}";
        if (!!url && !!url.trim()) {
            url = url.trim();
            if (!/^(https?:)?\/\//i.test(url)) {
                url = 'http://' + url;
            }
        }

        $(".lab-website").attr("href", url);

        $(".hBack").on("click", function(e){
            e.preventDefault();
            window.history.back();
        });

        $(document).on('click', '.like', function() {
            var lab_slug = $(this).attr('name');

            if ($(this).hasClass("far")) {
                $(this).removeClass("far").addClass('fas');
            } else {
                $(this).removeClass("fas").addClass('far');
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'likes' %}",
                data: {
                    'slug': lab_slug,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: likeCallback,
                dataType: 'html'
            });

            function likeCallback(data, jqXHR) {

            }  
        });
    </script>

    </body>
{% endblock %}
