main {
    background-image: url('/static/yale.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #0f4d92 !important;
    border-color: #0f4d92 !important;
}

.jumbotron {
    background-color: rgba(13,11,0,0.9);
}

.display-4, .lead {
    color: white;
}