:root {
  --main: #0f4d92;
  --highlight: #2196F3; 
  overflow: visible; 
}

.top-padding{
    overflow-x: auto;
    text-align: center;
    padding: 0px 0;

}
.mid-padding{
    overflow-x: auto;
    text-align: center;
    padding: 10px 30px;

}



.tox-statusbar__branding, .tox-notifications-container {
  display: none;
}

.tox-tinymce { 
  border-color: rgb(118, 118, 118) !important;
  border-radius: 2.5px !important;
}

.tox-toolbar__primary, .tox-statusbar, .tox-toolbar__primary, .tox-toolbar-overlord {
  border-top-color: rgb(118, 118, 118) !important;
}

.tox-toolbar__group {
  border-right-color: rgb(118, 118, 118) !important;
}

.h5-bold {
  font-weight: bold;
}

.tox .tox-toolbar__primary {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg height='39px' viewBox='0 0 40 39px' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='38px' width='100' height='1' fill='%23767676'/%3E%3C/svg%3E") left 0 top 0 #fff !important;
}

.center-padding{
    overflow-x: auto;
    text-align: center;
    padding: 50px 0;

}

.form-title {
  margin-bottom: 0.5rem !important;
}

.pub {
  border: 1px solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
}

.pub:hover {
  background-color: #0f4d92;
  color: white;
  cursor: pointer;
}

.pub-list {
  list-style: none;
  padding: 0;
}

#required-field {
  color: red;
}

.pub-task {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.task-title {
  overflow-x: auto;
  outline: none;
  cursor: auto;
}

.dataTables_scrollBody {
  height: auto !important;
}

/* "float-container" and "float-child" fix buttons on index*/
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

.float-child2 {
    width: 90%;
    float: left;
    padding: 0px;
}

.float-child3 {
    width: 10%;
    float: left;
    padding: 0px;
}

.buttonblue:hover {
    background-color: var(--main);
}

.topnav {
    background-color: var(--main);
}

.topnavtext {
    color: white;
}

.bottomnav {
    background-color: var(--main);
    color: white;
    font-size: 15px;
    text-align: center;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    height: 60px;
    font-family: "YaleNew", Roman;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  flex: 1;
  min-height: auto;
  /* margin: 2em;
  text-align: center; */
}

.header1{
    font-size: 60px;
    font-family: "YaleNew", Roman;
}

.header2{
    font-size: 40px;
    font-family:  "Poppins-light", sans-serif;
}

.header3{
    font-size: 30px;
    font-family: "YaleNew", Roman;
}

.header4{
    font-size: 15px;
    font-family: "YaleNew", Roman;
}

.body0{
    font-size: 35px;
    font-family: "Poppins-light", sans-serif;
}

.body1{
    font-size: 25px;
    font-family: "Poppins-light", sans-serif;
}

.body05b{
    font-size: 20px;
    font-family: "Poppins-light", sans-serif;
    font-weight:bold;
}

.body05{
    font-size: 20px;
    font-family: "Poppins-light", sans-serif;
}

.body2{
    font-size: 17px;
    font-family: "Poppins-light", sans-serif;
}

.body3{
    font-size: 15px;
    font-family: "Poppins-light", sans-serif;
}

.body4{
    font-size: 10px;
    font-family: "Poppins-light", sans-serif;
}

.font1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.aboutdiv{
    max-width: 70%;
    margin: auto;
}


.left{
        text-align: left;
}

.right{
        text-align: right;
}

.blue1{
      border-top: 1px solid var(--main);
      width:50%;
      text-align:left;
      margin-left:0
}

/* toggle switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--highlight);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.space1 {
  height: 200px;
  width: 50%;
  background-color: white;
}

.space2 {
  height: 50px;
  width: 50%;
  background-color: white;
}

.space3{
  height: 250px;
  width: 100%;
  background-color: white;
}

.space1 {
  height: 50px;
  width: 50%;
  background-color: white;
}

textarea {
      resize: none;
      width: 100%;
      height: 300px;
}

#search {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#search td, #search th {
  border: 1px solid #ddd;
  padding: 8px;
}

#search tr:nth-child(even){
    background-color: #f2f2f2;
}

#search tr:hover {
    background-color: #ddd;
}

#search th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--main);
  color: white;
}

#go {
    text-align: center;
    font-family: "YaleNew", Roman;
    font-size: 20px;
    padding: 10px;
    vertical-align: central;
}


/* footer */
footer{
  text-align: center !important;
  background-color: var(--main);
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

#footer {
  padding: 1em 1em 0 1em;
  color: #fff;
}

#footer a{
  transition: .3s ease;
}
#footer a:hover {
  color: var(--highlight);
}

/* Button */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-large {
  padding: 1rem;
  font-size: 16px;
}

.row-to-col { 
  flex-direction: row;
}

.align-right {
  text-align: right;
}

.w-100 {
  width: 100%;
}

tbody tr:hover {
  cursor: pointer;
}

.white {
  color: white;
}

.label {
  display: inline;
  padding: .2em .2em .2em .3em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.card {
  border: 1px solid #dee2e6 !important;
  box-shadow: none !important;
}

div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane {
  flex-basis: auto !important;
}

div.dtsp-panesContainer {
  margin: 0 !important;
  border: 1px solid #dee2e6;
  margin-bottom: 0.5em !important;
}

/* .dtsp-subRow2 {
  display: none !important;
} */

td {
  /* line-height: 100% !important; */
  vertical-align: middle !important;
}

th {
  font-size: .9rem;
}

.dtr-title {
  width: 100%;
  padding: 0.5em 0;
}

table {
  border-radius: .25rem;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #dee2e6 !important;
}

#add-netid {
  outline: none !important;
  box-shadow: none !important;
}

.label-info {
  background-color: #0f4d92;
}

.bootstrap-tagsinput {
  width: 100% !important;
}

@media (max-width:600px)
{
  .row-to-col {
    flex-direction: column;
  }
  th {
    font-size: .9rem;
  }
  tr {
    font-size: .8rem;
  }
}

.jumbotron {
  border-radius: 2.5px !important;
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem 2rem !important;
  }
}