{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div>
    <div>
        <p class="header2">About</p>
    </div>
    <img src="/static/RDBLogo.png" alt="RDB logo" style="width:40%;">
    <div class="aboutdiv body1">
        <p class="body1">The Yale Research Database is a searchable, up-to-date
        resource connecting Yale undergraduates with research opportunities.
        </p>
    </div>
    <div class="aboutdiv body1">
        <p>The Research Database is maintained by the Yale
        Undergraduate Research Association, or YURA. </p>
    </div>
    <div class="aboutdiv body1">
        To see more resources for student researchers,
        visit the <a href="https://www.yura.yale.edu/">YURA website</a>.
    </div>
</div>
{% endblock %}