{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<body class="w3-animate-opacity top-padding">
<div class="center-padding">
    
    <img src="/static/RDBLogo.png" alt="RDB logo" style="width:40%;">
    
    <p class="body0" style="font-weight:bold">
        Mission
    </p>

    <div class="aboutdiv body1">
        <p class="body1">The Yale Research Database (RDB) is a searchable, up-to-date
        resource connecting Yale undergraduates with research opportunities. It is
        maintained by the Yale Undergraduate Research Association (YURA).
        </p>
    </div>

    <div class="space2"></div>

    <p class="body0" style="font-weight:bold">
        RDB Committee
    </p>

        <p class="body05b">Committee Chair</p>
            <p class="body05">Daniel Kim</p>
        <p class="body05b">Members</p>

                <div class="float-child body05">
                    <p style="text-align:right;">Danny Mota</p>
                    <p style="text-align:right;">Daven Yadav</p>
                    <p style="text-align:right;">Jack Li</p>
                    <p style="text-align:right;">Kassi Correia</p>
                </div>

                <div class="float-child body05">
                    <p style="text-align:left;">Prastik Mohanraj</p>
                    <p style="text-align:left;">Siraj Patwa</p>
                    <p style="text-align:left;">Stephen Yin</p>
                </div>

        <div class="space3"></div>


    <p class="body0" style="font-weight:bold">
        Learn More
    </p>

    <div class="aboutdiv body05">
        <p>To find more resources, visit the </p>
        <a href="https://www.yura.yale.edu/" style="color: #0f4d92;">YURA website</a>.
    </div>

</body>
{% endblock %}

