{% extends "base.html" %} 

{% block title %}Index{% endblock %}

<head>
    <link href="/static/index.css" rel="stylesheet">
</head>

{% block content %}
<div class=""> <img src="/static/RDBLogo.png" alt="RDB logo" style="width: 50%;">
    {% if request.user.is_authenticated %}
    <table id="labs" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Lab Name</th>
                <th>Principal Investigator</th>
                <!-- <th>Description</th> -->
                <th>Website</th>
                <th>Funded</th>
                <th>Mentors</th>
            </tr>
        </thead>
        <tbody>
            {% for lab in labs %}
                <tr data-href="{% url 'lab-detail' lab.pk %}">
                    <td>
                        <button type="button" class="btn btn-success btn-xs dt-add" style="margin-right:10px;">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        {{lab.name}}
                    </td>
                    <td>{{lab.pi_name}}</td>
                    <!-- <td>{{lab.project_desc}}</td> -->
                    <td>{{lab.website}}</td>
                    <td>{{lab.funded}}</td>
                    <td>{{lab.mentors}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Powered by YURA</p>
    <div class="float-container button-container row-to-col">
        <div class="float-child">
            <a href="/accounts/login">
                <button type="button" id="students" class="btn btn-outline-secondary btn-large btn-block rounded-0 buttonblue">Student Login</button>
            </a>
        </div>
        <div class="float-child">
            <button type="button" id="faculty" class="btn btn-outline-secondary btn-large btn-block rounded-0 buttonblue">Faculty Login</button>
        </div>
    </div> 
    {% endif %}
</div>

<script>
    $(document).ready(function() {
        $('#labs').DataTable({
            "paging": true,
            "autoWidth": true,
            responsive: true,
        });

        $('table tr').click(function(){
            window.location = $(this).data('href');
            return false;
        });
    });
</script>
{% endblock %}