{% extends "base.html" %}

{% block title %}Results{% endblock %}

{% block content %}
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

    <div autocomplete="off" class="left float-child2">
        <input type="text" name="search" placeholder="Search Labs" autocomplete="off">
    </div>
    <style>
    input[type=text] {
      width: 200px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 100%;
    }
    </style>

    <div class="float-child3">
        <select name="search_department" id="search_department">
        <option disabled selected value="">Department</option>
            {% for department in departments %}
                <option>{{ department }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="float-child3">
        <button type="button" id="go" class="btn btn-outline-secondary btn-sm btn-block rounded-0 buttonblue">Search</button>
    </div>

<ul>
    {% csrf_token %}

    {% if not response_data %}
      <li>
        No results found
      </li>
    {% else %}
      {% for lab in response_data %}
        <li>
          {{ lab.name }} - {{ lab.project_desc }}
          <i class="heart fa fa-heart-o"></i>
        </li>
      {% endfor %}
    {% endif %}
</ul>

<script>
  $(".heart.fa").click(function() {
    $(this).toggleClass("fa-heart fa-heart-o");
  });
</script>
{% endblock %}
